<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="menu">
        <!--accessing session variable in html-->
        {% if request.session.username == 'admin' %}<!--session variable mai agar admin hai to to use dusra menu dikhana hai aur normal student ko dusra-->
        <!--Menu for admin-->
        <ul class="navbar-admin">
       <li> <a href="http://localhost:8000/OTS/new-question/">New Question</a></li>
       <li><a href="http://localhost:8000/OTS/view-questions/">View All</a></li>
        <li><a href="http://localhost:8000/OTS/logout/">Logout</a></li>
        <li><a href="http://localhost:8000/OTS/view-users/">View Users</a></li>
        </ul>
        {% else %}
        <!--menu for learner-->
        <ul class="navbar-user">
            <li><a href="http://localhost:8000/OTS/start-test/">Start Test</a></li>
            <li><a href="http://localhost:8000/OTS/logout/">Logout</a></li>
        </ul>
        {% endif %}
    </div>
    <h1 id="header">Welcome {{request.session.realname}}, to Online Testing System</h1>
</body>
</html>