*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
}
.main{
    margin-top: 20px;
    color: white;
    font-size: 4.1rem;
}
.container{
    border: 2px solid white;
    border-radius: 9px;
    color: white;
    margin-top: 203px;
    width: 30%;
    margin: 105px auto;
    height:225px;
}
.container .header{
    text-align: center;
}
.container .formcss{
    text-align: center;
    margin-top: 20px;
}
.container .formcss .tag{
    margin:6px auto;
    padding:2px;
    font-size: 1.1rem;
}
.container .formcss .btn{
    margin-top: 4px;
}
.container .formcss input{
    margin:auto;
    padding:3px;
    font-size: 1.1rem;
    border-radius: 10px;
}
.container .formcss #password{
    margin:auto;
    margin-left: 20px;
}
.error{
    color:white;
}
